doctype html
html
  head
    meta(charset='utf-8')
    link(href='//fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel="import" href="/components/polymer/polymer.html")
    link(rel="import" href="/components/pie-component-page/pie-component-page.html")
    body
    
    pie-component-page
    
    script.

      document.addEventListener('DOMContentLoaded', () => {
        let el = document.querySelector('pie-component-page');
        if(el){
          el.name = '#{name}';
          el.version = '#{version}';
          el.repositoryUrl = '#{repositoryUrl}';
          el.readme = '!{readme}';
          el.demo = '#{demo}'
          el.schemas = !{JSON.stringify(schemas)};
          el.pie = !{JSON.stringify(pie)};
        }
     });



