doctype html
html
  head
    link(href='//fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    script(src=clientFile, type='text/javascript')
    script(src=controllersFile, type='text/javascript')

    script(type='text/javascript').

      window.pie = window.pie || {};
      window.pie.env = {mode: 'gather'};
      window.pie.model = !{model};
      
      let controllersUid = '#{controllersUid}';
      
      window.pie.session = [];
      
      document.addEventListener('pie.player-ready', function(event){
        var player = event.target;
        var pieController = new pie.Controller(window.pie.model, window[controllersUid]);
        
        player.controller = pieController;
        player.env = window.pie.env;
        player.session = window.pie.session;
        
        var panel = document.querySelector('pie-control-panel');
        panel.env = window.pie.env;
        
        pieController.getLanguages().then(function(l) {
          panel.languages = l;
        });

        panel.addEventListener('envChanged', function(event){
          
          player.env = event.target.env;
          
          if(event.target.env.mode === 'evaluate'){
            player.getOutcome().then(function(outcome){
              console.log('outcome', outcome);
              panel.score = " &nbsp; " + outcome.summary.percentage + "% (" + outcome.summary.points + "/" + outcome.summary.maxPoints + ") &nbsp; ";
            });
          }
        });
      });
    
    block head-extras

  body
    pie-control-panel
    pie-player
      | !{markup}
