doctype html
html
  head
    meta(charset='utf-8')

    style.
      body{
        margin: 0;
        padding: 0;
      }

    link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Patua+One" rel="stylesheet") 

    each j in externalJs 
      script(src=`${j.src}`, type=`${j.type || 'text/javascript'}`)

    //- init first 
    script. 
      window.demo = window.demo || {};
      window.demo.config = !{demo.config ? JSON.stringify(demo.config) : '{}'};
      window.demo.markup = '!{demo.markup ? demo.markup : ''}'; 
      window.demo.session = !{demo.session ? JSON.stringify(demo.session) : '{}'};
      window.element = !{element ? JSON.stringify(element) : '{}'};
      window.orgRepo = !{orgRepo ? JSON.stringify(orgRepo) : '{}'};

      console.log("hi")


    body
      catalog-container
        span(slot="header") 
          | pie info
        catalog-entry
          pie-toolbar
          catalog-demo    
      each j in js 
        script(src=j, type='text/javascript')